# Ignorar el archivo de variables de entorno (contiene información sensible)
.env

# Ignorar archivos de logs
*.log

# Archivos temporales o de caché
/cache/
/tmp/

# Ignorar archivos y carpetas de sistema
.DS_Store
Thumbs.db

# Configuraciones de editores o IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
